.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.counter-container {
  /* border: 2px red solid; */
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  gap: 10px;
}


.counter-label {
  margin: 0 auto;
  font-size: 300px;
}



.action-btn {
  padding: 15px 55px;
  border-radius: 10px;
  margin: 0 auto ;
  background-color: steelblue;
  color: white;
  font-size: larger;
  text-transform: uppercase;
}





@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
